#input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
}

#check-boxes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.check-box {
  display: flex;
  padding: 0.5em;
}

@media (max-width: 600px) {
  #check-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  #check-boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}
